* {
    margin: 10;
    padding: 10;
    font-family: sans-serif;
}

body {
    background: #e2e2e2;
}

.shadow {
    box-shadow: 0px 1px 1px 1px rgb(184, 181, 181);
    width: 300px;
    background: rgba(253, 254, 255, 0.822);
    height: 100%;
    margin: 100px;
    padding-left: 100px
    

}
