* {
    margin: 20;
    padding: 20;
    font-family: sans-serif;
}

body {
    background: #e2e2e2;
}

.shadow {
    box-shadow: 0px 1px 1px 1px rgb(250, 246, 246);
    width: 300px;
    background: rgba(253, 254, 255, 0.822);
    height: 100%;
    margin: 100px;
    padding-left: 100px
}
